In [47]:
import pandas as pd
import string
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report,confusion_matrix
from sklearn import metrics
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [0]:
data = pd.read_csv('dataset.csv', encoding='latin-1')

In [0]:
def process_text(text):
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)
    clean_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return clean_words

In [37]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [38]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [50]:
nltk.__name__

'nltk'

In [0]:
dir(nltk)

In [39]:
data.head()

                                       SentimentText  Sentiment
0  first think another Disney movie, might good, ...          1
1  Put aside Dr. House repeat missed, Desperate H...          0
2  big fan Stephen King's work, film made even gr...          1
3  watched horrid thing TV. Needless say one movi...          0
4  truly enjoyed film. acting terrific plot. Jeff...          1

In [51]:
data['SentimentText'].apply(process_text)

0        [first, think, another, Disney, movie, might, ...
1        [Put, aside, Dr, House, repeat, missed, Desper...
2        [big, fan, Stephen, Kings, work, film, made, e...
3        [watched, horrid, thing, TV, Needless, say, on...
4        [truly, enjoyed, film, acting, terrific, plot,...
5        [memory, Last, Hunt, stuck, since, saw, 1956, ...
6        [Shakespeare, fan, appreciate, Ken, Branagh, d...
7        [privilege, watching, Scarface, big, screen, b...
8        [real, classic, shipload, sailors, trying, get...
9        [Serials, short, subjects, originally, shown, ...
10       [strange, sex, comedy, theres, little, comedy,...
11       [many, problems, film, worst, continuity, reed...
12       [Rosie, wasted, lot, TV, time, talking, Tainos...
13       [Man, people, got, chill, movie, artistic, gen...
14       [great, movie, could, Soylent, Green, scenes, ...
15       [Wonderful, family, dramacomedy, starring, Mac...
16       [Ko, tamo, peva, one, best, films, ever, saw, ...
17       [quite, long, time, life, either, like, film, ...
18       [Kolchak, TV, series, really, didnt, fit, cate...
19       [rare, find, literary, work, adequately, trans...
20       [awful, awful, old, room, mate, used, watch, j...
21       [mom, recently, become, addicted, show, laughi...
22       [okay, plain, dumb, bad, horrorcomedy, film, r...
23       [film, mesmerizing, beauty, creativity, artist...
24       [Filmfour, going, lot, better, little, snot, f...
25       [60s, 1999, Mark, Piznarski, Josh, Hamilton, J...
26       [show, suck, Unfortunately, really, question, ...
27       [Sometimes, want, laugh, Dont, analyzing, crit...
28       [antibush, jokes, get, really, easy, show, lik...
29       [others, noted, excellent, Hammerstyle, film, ...
                               ...
24970    [almost, ideal, romantic, anime, MUST, SEE, AG...
24971    [Unfortunately, film, long, unavailable, poste...
24972    [12, Diane, Keaton, farcebr, br, Someone, tell...
24973    [Film, looking, glass, see, world, new, light,...
24974    [empty, lack, lustre, rendition, classic, nove...
24975    [movie, good, example, extreme, lack, good, wr...
24976    [movie, really, great, flick, something, affec...
24977    [Darkling, interesting, entertaining, film, F,...
24978    [Marlon, Brando, Frank, Sinatra, HATED, film, ...
24979    [2004, liked, became, stupid, suggests, kids, ...
24980    [avoid, making, type, film, future, film, inte...
24981    [Wow, 5, hours, Riget, Lars, continues, great,...
24982    [Marvelous, James, Stewart, Vera, Miles, vehic...
24983    [characters, depthless, rip, offs, youve, seen...
24984    [countless, talkinganimal, films, past, majori...
24985    [absurdist, dark, comedy, Belgium, Shot, perfe...
24986    [nice, see, Suraj, Barjatya, back, best, atA, ...
24987    [movie, poorly, written, poorly, acted, predic...
24988    [unpretentious, Horror, film, probably, destin...
24989    [saw, Saving, Grace, right, came, video, Since...
24990    [Taking, old, collection, stories, poses, chal...
24991    [movie, made, want, become, director, Michelle...
24992    [video, thing, think, fourth, attempt, managed...
24993    [almost, typical, Lynch, However, makes, film,...
24994    [really, must, caught, different, film, rest, ...
24995    [kid, 50s, 60s, anything, connected, Disney, d...
24996    [course, reading, review, seen, film, already,...
24997    [read, Theres, Girl, Soup, came, Peter, Seller...
24998    [film, quite, boring, snippets, naked, flesh, ...
24999    [Although, film, somewhat, filled, eighties, c...
Name: SentimentText, Length: 25000, dtype: object

In [0]:

pipeline = Pipeline([
    ('bow',CountVectorizer(analyzer=process_text)), # converts strings to integer counts
    ('tfidf',TfidfTransformer()), # converts integer counts to weighted TF-IDF scores
    ('classifier',MultinomialNB()) # train on TF-IDF vectors with Naive Bayes classifier
])




#predictions = pipeline.predict(x_test)
#print(predictions)
##

In [53]:
pipeline.fit(x_train,y_train)

Pipeline(memory=None,
         steps=[('bow',
                 CountVectorizer(analyzer=<function process_text at 0x7f5b287e7048>,
                                 binary=False, decode_error='strict',
                                 dtype=<class 'numpy.int64'>, encoding='utf-8',
                                 input='content', lowercase=True, max_df=1.0,
                                 max_features=None, min_df=1,
                                 ngram_range=(1, 1), preprocessor=None,
                                 stop_words=None, strip_accents=None,
                                 token_pattern='(?u)\\b\\w\\w+\\b',
                                 tokenizer=None, vocabulary=None)),
                ('tfidf',
                 TfidfTransformer(norm='l2', smooth_idf=True,
                                  sublinear_tf=False, use_idf=True)),
                ('classifier',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [0]:
predictions = pipeline.predict(x_test)

In [55]:
print(predictions)

[0 0 0 ... 0 0 0]

In [56]:
print(metrics.accuracy_score(y_test,predictions))

0.8744